@import "tailwindcss";

/* Light theme (default) */
@theme {
    --color-body: #dedeef;
    --color-navBar: #bebedc;
    --color-navBar-dark: #8C8CB5;
    --color-text: #1c1c31;
    --color-text-secondary: #E2E2ED;
    --color-border: #656591;
    --color-border-dark: #4E4E78;
    --color-hover: #4a4a73;
    --color-color-white: #E2E2ED;
    --color-gradient-start: #4a4a73;
    --color-gradient-end: #1c1c31;
    --color-gradient-1-start: #4a4a73;
    --color-gradient-1-mid:   #6b5fb5;
    --color-gradient-1-end:   #a8a4e0;



    --animate-aurora1: aurora-move-1 12s ease-in-out infinite;
    --animate-aurora2: aurora-move-2 15s ease-in-out infinite;

    @keyframes aurora-move-1 {
        0%   { transform: translateX(-50%) translateY(-30%) rotate(15deg); }
        25%  { transform: translateX(30%) translateY(40%) rotate(-10deg); }
        50%  { transform: translateX(50%) translateY(80%) rotate(20deg); }
        75%  { transform: translateX(-30%) translateY(40%) rotate(-15deg); }
        100% { transform: translateX(-50%) translateY(-30%) rotate(15deg); }
    }

    @keyframes aurora-move-2 {
        0%   { transform: translateX(40%) translateY(-20%) rotate(-10deg); }
        25%  { transform: translateX(-50%) translateY(30%) rotate(10deg); }
        50%  { transform: translateX(-40%) translateY(90%) rotate(-20deg); }
        75%  { transform: translateX(50%) translateY(30%) rotate(15deg); }
        100% { transform: translateX(40%) translateY(-20%) rotate(-10deg); }
    }


}

/* Dark theme overrides */
.dark {
    --color-body: #0f0f1a;
    --color-navBar: #1a1a2e;
    --color-navBar-dark: #1a1a2e;
    --color-text: #66fff9;
    --color-text-secondary: #102A28;
    --color-darkText: #222222;
    --color-border: #00fff3;
    --color-border-dark: #00fff3;
    --color-hover: #00e6d9;
    --color-color-white: white;
    --color-gradient-start: #00fff3;
    --color-gradient-end: #00e6d9;
    --color-gradient-1-start: #103130;
    --color-gradient-1-mid:   #00fff3;
    --color-gradient-1-end:   #00bcb4;

}

.aurora-layer {
    position: absolute;
    width: 150%;
    height: 60%;
    border-radius: 50%;
    filter: blur(6rem);
    opacity: 0.4;
    background: linear-gradient(90deg, var(--color-gradient-1-start), var(--color-gradient-1-mid), var(--color-gradient-1-end));
}

.aurora1 {
    animation: var(--animate-aurora1);
    top: 0;
    left: -25%;
}

.aurora2 {
    animation: var(--animate-aurora2);
    top: 10%;
    left: -10%;
    opacity: 0.3;
}



